<a href="https://colab.research.google.com/github/MeenalShah13/SentimentAnalysisCOVID/blob/main/Sentiment_classifier_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
###!wget https://github.com/MeenalShah13/SentimentAnalysisCOVID/sample_data.zip

--2021-04-05 16:53:25--  https://github.com/MeenalShah13/SentimentAnalysisCOVID/sample_data.zip
Resolving github.com (github.com)... 140.82.113.3
Connecting to github.com (github.com)|140.82.113.3|:443... connected.
HTTP request sent, awaiting response... 404 Not Found
2021-04-05 16:53:25 ERROR 404: Not Found.

In [4]:
!unzip sample_data.zip

Archive:  sample_data.zip
  inflating: sample_data.csv

In [5]:
import pandas as pd
import numpy as np

In [6]:
df=pd.read_csv('sample_data.csv')
df.head()

               TweetID  ...                                                URL
0  1338226694444859394  ...                                              null;
1  1300246448995409924  ...                                              null;
2  1278708694390173696  ...  https://www.wsj.com/articles/businesses-hit-ha...
3  1321386099785293824  ...                                              null;
4  1296079483523522568  ...                                              null;

[5 rows x 12 columns]

In [7]:
df.shape

(150000, 12)

In [9]:
df.isnull().sum()

TweetID             0
Username            0
TimeStamp           0
Follower_num        0
Friend_num          0
Retweets_num        0
Favourites_num      0
Tweet               0
Sentiment           0
Mentions          270
Hashtags           58
URL                 0
dtype: int64

In [10]:
df = df.dropna()

In [11]:
df.duplicated().sum()

0

In [15]:
df1 = df.drop(['TweetID','Username','Follower_num','Friend_num','Retweets_num','Favourites_num','Mentions','URL','Hashtags'],axis=1)
df1.head()

                        TimeStamp  ... Sentiment
0  Sun Dec 13 20:58:01 +0000 2020  ...      1 -4
1  Mon Aug 31 01:38:05 +0000 2020  ...      1 -3
2  Thu Jul 02 15:14:44 +0000 2020  ...      1 -1
3  Wed Oct 28 09:39:31 +0000 2020  ...      1 -3
4  Wed Aug 19 13:40:03 +0000 2020  ...      2 -1

[5 rows x 3 columns]

In [13]:
df1.shape

(149672, 4)

In [19]:
blanks=[]
for i,time,tweet,senti in df1.itertuples():  # iterate over the DataFrame
    if type(tweet)==str:            # avoid NaN values
        if tweet=='null;':         # test 'review' for whitespace
            blanks.append(i)     # add matching index numbers to the list

df1.drop(blanks, inplace=True)
df1.shape

(103469, 3)

In [21]:
df1.head()

                        TimeStamp  ... Sentiment
2  Thu Jul 02 15:14:44 +0000 2020  ...      1 -1
3  Wed Oct 28 09:39:31 +0000 2020  ...      1 -3
4  Wed Aug 19 13:40:03 +0000 2020  ...      2 -1
5  Fri Sep 04 09:44:29 +0000 2020  ...      2 -1
6  Thu Oct 29 20:12:39 +0000 2020  ...      2 -3

[5 rows x 3 columns]

In [28]:
df1['score']  = df1['Sentiment'].apply(lambda s:  s.split())
df1['score'] = df1['score'].apply(lambda x :int(x[0])+int(x[1]))

In [29]:
df1.head()

                        TimeStamp  ... score
2  Thu Jul 02 15:14:44 +0000 2020  ...     0
3  Wed Oct 28 09:39:31 +0000 2020  ...    -2
4  Wed Aug 19 13:40:03 +0000 2020  ...     1
5  Fri Sep 04 09:44:29 +0000 2020  ...     1
6  Thu Oct 29 20:12:39 +0000 2020  ...    -1

[5 rows x 4 columns]

In [30]:
df1['label'] = df1['score'].apply(lambda c: 'pos' if c >0 else ('neu' if c==0 else 'neg'))

In [31]:
df1.head()

                        TimeStamp  ... label
2  Thu Jul 02 15:14:44 +0000 2020  ...   neu
3  Wed Oct 28 09:39:31 +0000 2020  ...   neg
4  Wed Aug 19 13:40:03 +0000 2020  ...   pos
5  Fri Sep 04 09:44:29 +0000 2020  ...   pos
6  Thu Oct 29 20:12:39 +0000 2020  ...   neg

[5 rows x 5 columns]

In [33]:
df1['label'].value_counts()

neu    43266
pos    31864
neg    28339
Name: label, dtype: int64